

  <section class="main_faq">
        <div class="set_faq">
            <div class="faq_heading">
                <h2>{{ section.settings.heading }} </h2>
            </div>
            <div class="accordion">
              {%- for block in section.blocks -%}
                <div class="accordion-item">
                  <div class="accordion-header">
                    <div class="accordian-question">   {{ block.settings.question }} </div>
                    <div class="accordion-icon"><img src="https://cdn.shopify.com/s/files/1/0600/1498/5351/files/down-arrow.png?v=1715759464" alt=""></div>
                  </div>
                  <div class="accordion-content">
                  {{ block.settings.answer }}
                  </div>
                </div>
              {%- endfor -%}
              </div>
              
        </div>
    </section>

    <script>
document.addEventListener("DOMContentLoaded", function() {
  const accordionHeaders = document.querySelectorAll(".accordion-header");

  accordionHeaders.forEach(header => {
    header.addEventListener("click", () => {
      const currentItem = header.parentNode;
      const isItemActive = currentItem.classList.contains("active");

      accordionHeaders.forEach(item => {
        item.parentNode.classList.remove("active");
        // Reset all icons
        item.querySelector(".accordion-icon img").style.transition = "transform 0.2s ease";
        item.querySelector(".accordion-icon img").style.transform = "rotate(0deg)";
      });

      if (!isItemActive) {
        currentItem.classList.add("active");
        // Rotate icon if the item is active
        header.querySelector(".accordion-icon img").style.transition = "transform 0.2s ease";
        header.querySelector(".accordion-icon img").style.transform = "rotate(180deg)";
      }
    });
  });
});


    </script>
 
{% schema %}
  {
  "name": "Faq section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Accordain",
      "type": "accordain",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer",
          "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faq Section"
    }
  ]
}  
{% endschema %}   