

  <div class="icon_list">
    
    {%- for block in section.blocks -%}
     <div class="icon-list-wrapper">
         {% if block.settings.image_picker_0 %}
<?xml version="1.0" encoding="UTF-8"?> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="34px" viewBox="0 0 32 34"><!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com --><title>53D1C233-9DAF-455D-96F4-68F15CC9CD69</title><desc>Created with sketchtool.</desc><g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="BOT-DP-WWW-HOME" transform="translate(-447.000000, -188.000000)" fill="#4BA5E0" fill-rule="nonzero" stroke="#4BA5E0" stroke-width="0.5"><g id="Header" transform="translate(0.000000, 15.000000)"><g id="Shipping" transform="translate(448.000000, 171.000000)"><g transform="translate(0.000000, 3.000000)" id="Shape"><path d="M29.98627,7.54092827 C29.98627,7.41940928 29.9588101,7.2978903 29.9038902,7.18312236 C29.7940503,6.9535865 29.5812357,6.79831224 29.3478261,6.75105485 L15.3638444,0.0810126582 C15.1372998,-0.0270042194 14.8695652,-0.0270042194 14.6430206,0.0810126582 L0.52173913,6.81181435 C0.247139588,6.94008439 0.0686498856,7.21012658 0.0549199085,7.51392405 L0.0549199085,7.52067511 C0.0549199085,7.52742616 0.0549199085,7.53417722 0.0549199085,7.54767932 L0.0549199085,24.4388186 C0.0549199085,24.7493671 0.233409611,25.0329114 0.52173913,25.1679325 L14.6430206,31.8987342 C14.6498856,31.8987342 14.6498856,31.8987342 14.6567506,31.9054852 C14.6773455,31.9122363 14.6979405,31.9189873 14.7185355,31.9324895 C14.7254005,31.9324895 14.7322654,31.9392405 14.7459954,31.9392405 C14.7665904,31.9459916 14.7871854,31.9527426 14.8077803,31.9594937 C14.8146453,31.9594937 14.8215103,31.9662447 14.8283753,31.9662447 C14.8489703,31.9729958 14.8764302,31.9729958 14.8970252,31.9797468 C14.9038902,31.9797468 14.9107551,31.9797468 14.9176201,31.9797468 C14.9450801,31.9797468 14.979405,31.9864979 15.006865,31.9864979 C15.0343249,31.9864979 15.0686499,31.9864979 15.0961098,31.9797468 C15.1029748,31.9797468 15.1098398,31.9797468 15.1167048,31.9797468 C15.1372998,31.9797468 15.1647597,31.9729958 15.1853547,31.9662447 C15.1922197,31.9662447 15.1990847,31.9594937 15.2059497,31.9594937 C15.2265446,31.9527426 15.2471396,31.9459916 15.2677346,31.9392405 C15.2745995,31.9392405 15.2814645,31.9324895 15.2951945,31.9324895 C15.3157895,31.9257384 15.3363844,31.9189873 15.3569794,31.9054852 C15.3638444,31.9054852 15.3638444,31.9054852 15.3707094,31.8987342 L29.5331808,25.1476793 C29.8146453,25.0126582 30,24.7291139 30,24.4185654 L30,7.56118143 C29.98627,7.55443038 29.98627,7.54767932 29.98627,7.54092827 Z M15,1.70801688 L27.2471396,7.54767932 L22.7368421,9.70126582 L10.4897025,3.86160338 L15,1.70801688 Z M15,13.3873418 L2.75286041,7.54767932 L8.60183066,4.75949367 L20.8489703,10.5991561 L15,13.3873418 Z M1.70251716,8.85063291 L14.1762014,14.7983122 L14.1762014,29.8734177 L1.70251716,23.9257384 L1.70251716,8.85063291 Z M15.8237986,29.8734177 L15.8237986,14.7983122 L21.6796339,12.0033755 L21.6796339,15.9459916 C21.6796339,16.3915612 22.0503432,16.7561181 22.5034325,16.7561181 C22.9565217,16.7561181 23.3272311,16.3915612 23.3272311,15.9459916 L23.3272311,11.2135021 L28.3386728,8.82362869 L28.3386728,23.8987342 L15.8237986,29.8734177 Z"></path></g></g></g></g></g></svg> 
       
           {% else %}
      <span>No icon selected</span>
       {% endif %}
       <div class="icon_content">
        <p class="content_up">  {{ block.settings.text_1 }} </p>
        <p class="content_down"> {{ block.settings.text_2 }}</p>
      </div>
   </div>
 

   
  {%- endfor -%}

  </div>
{% schema %}
  {
  "name": "icon list",
  "settings": [],
  "blocks": [
    {
      "name": "Block ",
      "type": "block_0",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image Picker 0",
          "id": "image_picker_0"
        },
        {
          "type": "text",
          "label": "Text 1",
          "id": "text_2"
        },
          {
          "type": "text",
          "label": "Text 1",
          "id": "text_1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon List"
    }
  ]
}  
{% endschema %}